<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Edit Page</h1>
        <form action="/blogs/<%=post.id%>?_method=PUT"  method="POST">
            name: <input type="text" name="name"><br>
            author: <input type="text" name="author">
            <textarea name="content"  placeholder="Enter text here..."></textarea>
            <input type="submit" value="submit">
        </form>
    
        
    </body>
</body>
</html>