<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/add.css"/>

</head>
<body>
        <div class="header">
                <!-- title -->
                <div class="header-title">
                    <img src="" alt="blog logo">
                    <div>
                        <h1>Coding Decoded</h1>
                    </div>
                </div>
                <!-- navigation -->
                <nav>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="/blogs">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blogs/new">POST</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/code">Codes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blogs/forum">Forum</a>
                        </li>
                    </ul>
                </nav>
            </div>
    <h1>Add a Post</h1>
    <form action="/blogs" id="usrArticle" method="POST">
        name: <input type="text" name="name"><br>
        author: <input type="text" name="author">
        tags: <input type="text" name="tags">
        <textarea name="content" form="usrArticle" id="textArea" placeholder="Enter Text Here..."></textarea>
        <input type="submit">
    </form>

    
</body>
</html>