<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="/add.css" />
</head>
<body>
  <% include partials/nav.ejs %>
        
        <h1>Add Code!</h1>
        <div class="container">
          <div>
        <form action="/code" id="codeSnippit" class="form-inline justify-content-center" method="POST">
            code name: <input type="text" name="code"> 
            description: <input type="text" name="description">
            </div><br>
       <div class="form-group shadow-textarea">
            <textarea class="form-control z-depth-1" rows="10" name="content" form="codeSnippit" id="textArea" placeholder="Enter Code here..."></textarea>
            </div>
            <input type="submit">
        </form>
        </div>
</body>
</html>