<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <h1> <%=post.name; %></h1> <br>
  By: <%=post.author; %> <br>
    


    <%=post.content; %> <br>

    <a href="/blogs/<%=post.id; %>/edit">Edit</a>
    <nav>
        <a href="/blogs">Back</a>
    </nav>
</body>
</html>