* {
    border: 1px solid red;
    margin: 0;
	padding: 0;
	background-color: rgba(221, 208, 208, 0.781);
 
}

.container-fluid {
	text-align: center;
	padding-top: 20px;
	
}

.btn {
	color: black;
	outline-color: black;
}
